*{
    margin: 0;
    padding: 0;
    border: 0;
}
.box3{
    min-height: 15vh;
    /* background-color: #FF6D09; */
    /* background-color: #00A82D; */
    background-color: #FDD07A;
    color: rgb(250, 245, 245);
    display: flex;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    justify-content: flex-end;
    padding: 1em 1em 0 0;
    width: 100%;
}

