.box{
    background-color: antiquewhite;
    min-height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.lista{
    display: flex;
    flex-direction: row;
}
.lista li{
    margin: 1em;
}